# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
